body {
    font-family: Arial;
    background: #eef2f7;
    margin: 0;
}

.topbar {
    background: #0a4cff;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search-card {
    background: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 80%;
    border-radius: 8px;
}

.search-card input,
select {
    padding: 10px;
}

button {
    background: #ff6b00;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 40px auto;
}

.flight-card {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.modal-content {
    background: #fff;
    width: 60%;
    margin: 80px auto;
    padding: 30px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
}

.fare-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
}

.popular {
    border: 2px solid #0a4cff;
}

.form-box {
    background: #fff;
    padding: 30px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.success {
    background: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
}

.loader {
    border: 4px solid #ccc;
    border-top: 4px solid #0a4cff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

.hidden {
    display: none;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}